---
title: Kit/Premiação
style: kit
script: main
---

<h1 class="section-heading double">Kit/<br>Premiação</h1>

<section class="content-area">
    <p class="text"><em>Kit de participação:</em> camiseta, medalha, número de peito e chip de cronometragem. *não serão entregues kits no dia da prova ou após o evento.</p>
    <div class="kit-grid grid">
        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-01.png' }}">
                <p class="caption orange">Camiseta Etapa Londrina</p>
            </div>
        </div>

        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-02.png' }}">
                <p class="caption green">Camiseta Etapa Maringá</p>
            </div>
        </div>

        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-03.png' }}">
                <p class="caption purple">Medalha de Participação</p>
            </div>
        </div>
    </div>

    <p class="text"><em>Premiação:</em> Troféus aos 03 primeiros da categoria geral dos 5k e 10k, masculino e feminino (12 no total) - Medalhão do 1º ao 3º colocados de cada categoria, dos 5k e dos 10k, masculino e feminino (144 no total).</p>
    <div class="kit-grid no-pad grid">
        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-04.png' }}">
                <p class="caption gold">Troféu 1º Lugar</p>
            </div>
        </div>

        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-05.png' }}">
                <p class="caption grey">Troféu 2º Lugar</p>
            </div>
        </div>

        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-06.png' }}">
                <p class="caption brown">Troféu 3º Lugar</p>
            </div>
        </div>
    </div>

    <div class="kit-grid no-pad grid">
        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-07.png' }}">
                <p class="caption gold">Medalha 1º Lugar</p>
            </div>
        </div>

        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-08.png' }}">
                <p class="caption grey">Medalha 2º Lugar</p>
            </div>
        </div>

        <div class="g-1-3">
            <div class="item">
                <img class="img" src="{{ img 'banners/kit-09.png' }}">
                <p class="caption brown">Medalha 3º Lugar</p>
            </div>
        </div>
    </div>
</section>
